$base-font-size: 16px;


//colors
$primary: #FF6464;
$dark: #21243D;
$secondary: #00A8CC;
$secondary-light: #EDF7FA;
$black: #000;


//fonts
$font-path: '../fonts/';


//layout
$breakpoint-lg: 1152px;