.intro {
  min-height: calc(100vh - rem(60px));
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: rem(15px);
  padding-bottom: rem(15px);
  box-sizing: border-box;
  @include mq('sm') {
    flex-direction: column-reverse;
    justify-content: center;
  }

  #{&}__lead {
    display: block;
  }

  #{&}__item {
    width: 100%;
    @include mq('sm') {
      text-align: center;
    }

    &.intro__item--align {
      text-align: right;
      @include mq('sm') {
        text-align: center;
      }
    }

  }

  #{&}__hdl {
    margin-bottom: rem(22px);
    @include hdl(44px, $line-height: 1.4, $weight: 'Bold');
    @include mq('sm') {
      font-size: rem(32px);
    }
  }

  #{&}__text {
    margin-bottom: rem(30px);
    @include paragraph;
  }

  #{&}__avatar {
    width: 100%;
    height: auto;
    max-width: rem(243px);
    max-height: rem(243px);
    box-shadow: -5px 13px 0 0 $secondary-light;
    border-radius: 50%;
    @include mq('sm') {
      max-width: rem(170px);
      max-height: rem(170px);
    }
  }
}